

body{
    background-color: #74554b;
   color: blanchedalmond;
  box-sizing: border-box;
      
}


.hero-image-space{

    background-image: url('../media/abstract-6013298_1280.png');
    background-color: #74554b; 
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

}

.topBar {
    background-color: rgb(231, 197, 160, .75);
    
    font-family: "Quattrocento", serif;
    color: #642523;
    font-weight: 600;
    font-size: xx-large;

    
}

.logo-space img {
    width: 180px;
}

.navBar-buttons ul{
    list-style: none;

}

.navBar-buttons li {
    line-height: 50px;
}

.profile-picture-space {
    background-color: #74554b;
    padding-bottom: 30px;

}

.name-info-space {
    background-color: rgb(231, 197, 160, .75);
    border-radius: 5%;
   
}

.name-space h1 {
    font-family: "Beth Ellen", cursive;
    font-size: 45px;
}



.title-space h3{
    font-family: "Quattrocento", serif;
    color: #642523;
    font-weight: 600;
    font-size: x-large;
}

.aboutMe {
   
    background-color: #74554b;
   color: #E7C5A0;


}

.header-space {
    background-image: url(../media/newStrip.png);
    background-color: rgb(231, 197, 160,.25);
    background-repeat: no-repeat; 
    background-size: cover; 
    font-family: "Beth Ellen", cursive;
    font-size: 37px;
      padding-top: 40px;


}

.section-text-space {
    color: #E7C5A0;
    font-family: "Quattrocento", serif;
    font-weight: 600;
    font-size: x-large;

}

.aboutMe h2{
    color: #2B1311;
    font-size: xx-large;
    background-color: rgb(231, 197, 160, .75);
    border-radius: 5%;
    padding-bottom: 10px;
    
}

@media(min-width:767px) {
   
    .navBar-space {
        align-items: center;
    }

    .navBar-buttons li {
        font-size: larger;
        display: inline-block;
        
    }

  

    .logo-space img {
        width: 265px;
    }


}

@media(min-width:992px) {

    .navBar-buttons li {
        display: inline-block;
        font-size: large;
        padding-left: 10px;
    }

   
}

@media(min-width:1024)

